:root {
  --font-color: #ffffff;
  --background-color: #27233a;
}

body {
  background-image: url('img/Bg-all.png');
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: var(--font-color);
}

.contactTitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.contactInput {
  font-family: 'Fredoka', sans-serif;
  width: 65%;
  background-color: var(--background-color);
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  color: var(--font-color);
}

.buttonEnvoyer {
  margin-top: 30px;
  background-color: var(--background-color);
  width: 40%;
  height: 50px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: var(--font-color);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.buttonEnvoyer:active {
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.5);
}

/* Desktop version */
@media screen and (min-width: 1025px) {
  body {
    background-image: url('img/Bg-all-deskstop.png');
  }

  .contactInput {
    width: 30%;
  }

  .buttonEnvoyer {
    width: 10%;
  }
}
