* {
  margin: 0;
}

body {
  background-image: url('img/Bg-all.png');
  background-size: cover;
  min-height: 100vh;
}

header h1 {
  position: absolute;
  width: 200px;
  height: 47px;
  left: 80px;
  top: 71px;
}

.imgLogo {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 80px;
  top: 71px;
}

.homepageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  background: #27233a;
  border-radius: 10px;
  width: 80%;
  padding: 15px 0px 20px 0px;
}

.description p {
  width: 75%;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}

.buttonPosition {
  margin-top: 100px;
  width: 100%;
}

.buttonPosition > a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.buttonLetsgo {
  width: 75%;
  height: 194px;
  background: #27233a;
  border-radius: 150px / 97px;
  border-color: #27233a;
  font-weight: 700;
  font-size: 38px;
  color: #ffffff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.buttonLetsgo:active {
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.5);
}
