@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
:root {
  --main-bg-color-work: #c6ddff;
  --main-bg-color-love: url("img/Bg-rouge.png");
  --main-bg-color-friend: #fde5b6;
  --main-button-color-work: #96c0ff;
  --main-button-color-love: #f3a0a0;
  --main-button-color-friend: #dfb462;
  --button-color-selected-work: #3e76c9;
  --button-color-selected-love: #e94f4f;
  --button-color-selected-friend: #664300;
}
/* CSS RULES FOR WORK-QUESTIONS*/
* {
  margin: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-color: var(--main-bg-color-work);
}

.progress-bar {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#progressbar {
  width: 80%;
  height: 40px;
  background-color: var(--main-button-color-work);
  border-radius: 20px;
}

.question-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 17pt;
  text-align: center;
  font-weight: bold;
}

.question-container p {
  width: 70%;
}

.boutonAB {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonA {
  background-color: var(--main-button-color-work);
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

.buttonA:focus {
  background-color: var(--button-color-selected-work);
}

.buttonB {
  background-color: var(--main-button-color-work);
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

.buttonB:focus {
  background-color: var(--button-color-selected-work);
}

.bouton-next {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
}

.next {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.next:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*CSS RULES FOR LOVE-QUESTION*/
.body2 {
  font-family: 'Kumbh Sans', sans-serif;
  background: var(--main-bg-color-love);
}

.progress-bar2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#progressbar2 {
  width: 80%;
  height: 40px;
  background-color: var(--main-button-color-love);
  border-radius: 20px;
}

.question-container2 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 17pt;
  text-align: center;
  font-weight: bold;
}

.question-container2 p {
  width: 70%;
}

.boutonAB2 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonA2 {
  background-color: var(--main-button-color-love);
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

.buttonA2:focus {
  background-color: var(--button-color-selected-love);
}

.buttonB2 {
  background-color: var(--main-button-color-love);
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

.buttonB2:focus {
  background-color: var(--button-color-selected-love);
}

.bouton-next2 {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
}

.next2 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.next2:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*CSS RULES FOR FRIEND-QUESTION*/

.body3 {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--main-bg-color-friend);
}

.progress-bar3 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#progressbar3 {
  width: 80%;
  height: 40px;
  background-color: var(--main-button-color-friend);
  border-radius: 20px;
}

.question-container3 {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 17pt;
  text-align: center;
  font-weight: bold;
}

.question-container3 p {
  width: 70%;
}

.boutonAB3 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonA3 {
  background-color: var(--main-button-color-friend);
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

.buttonA3:focus {
  background-color: var(--button-color-selected-friend);
}

.buttonB3 {
  background-color: var(--main-button-color-friend);
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

.buttonB3:focus {
  background-color: var(--button-color-selected-friend);
}

.bouton-next3 {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
}

.next3 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.next3:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
