:root {
  --main-bg-color-work: url('img/Bg-bleu-new.png');
  --main-bg-color-love: url('img/Bg-rouge-new.png');
  --main-bg-color-friend: url('img/Bg-marron-new.png');
  --main-bg-image-deskstop-work: url('img/Bg-bleu-new-deskstop.png');
  --main-bg-image-deskstop-love: url('img/Bg-rouge-new-deskstop.png');
  --main-bg-image-deskstop-friend: url('img/Bg-marron-new-deskstop.png');
  --main-button-color-work: #3980e3;
  --main-button-color-love: #e33950;
  --main-button-color-friend: #e38639;
  --button-color-selected-work: #09377b;
  --button-color-selected-love: #7b0909;
  --button-color-selected-friend: #9d581f;
}
/* CSS RULES FOR WORK-QUESTIONS*/

body {
  color: #ffffff;
  background-image: var(--main-bg-color-work);
  background-size: cover;
  min-height: 100vh;
}

.progressBarContainer {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  height: 25px;
  background-color: var(--main-button-color-work);
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
  background-color: var(--button-color-selected-work);
  animation: progress-animation 5s;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.question-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 17pt;
  text-align: center;
  font-weight: bold;
}

.question-container p {
  width: 70%;
}

.boutonAB {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#bouton1 {
  background-color: var(--main-button-color-work);
  font-family: 'Fredoka', sans-serif;
  color: #ffffff;
  font-size: 20px;
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

#bouton1:focus {
  background-color: var(--button-color-selected-work);
}

#bouton2 {
  background-color: var(--main-button-color-work);
  font-family: 'Fredoka', sans-serif;
  color: #ffffff;
  font-size: 20px;
  width: 70%;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 13px 14px 24px 0px rgba(0, 0, 0, 0.35);
  transition: 0.8s;
}

#bouton2:focus {
  background-color: var(--button-color-selected-work);
}

.bouton-next {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
}

.next {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.next:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and(min-width: 1025px) {
  body {
    background-image: var(--main-bg-image-deskstop-work);
  }
  .buttonA {
    width: 50%;
    height: 150px;
  }
  .buttonB {
    width: 50%;
    height: 150px;
  }
}
