body {
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  display: grid;

  height: 150px;
  margin-top: 100px;
  justify-content: center;
}

.circular-progress {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: -2;
}

.container2 {
  text-align: center;
  background-color: #f6e0e0;
  border-radius: 20px;
  margin-top: 25px;
}

.circular-progress:before {
  content: '';
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}

.value-container {
  position: relative;
  font-size: 50px;
  color: #231c3d;
}

.gifparent {
  display: flex;
  justify-content: center;
}

.containergif {
  height: 150px;
  width: 80%;
  margin-top: 25px;
}

h2 {
  text-align: center;
  margin-top: 25px;
}

.btnsection {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.frienbtn {
  height: 95px;
  width: 95px;
  transition: 1s;
}

.frienbtn:hover {
  cursor: pointer;
  height: 195px;
  width: 195px;
}

.workbtn {
  height: 95px;
  width: 95px;
  transition: 1s;
}

.workbtn:hover {
  cursor: pointer;
  height: 195px;
  width: 195px;
}
