@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
  --font-size: 1.5rem;
  --navbar-color: #ffffff;
}

/* CSS commun */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Fredoka', sans-serif;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.displayNone {
  width: 100%;
}

/* Navbar */
.navbar {
  margin: 10px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: var(--font-size);
  background: none;
  color: var(--navbar-color);
}
.navbar__links {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 0;
  height: calc(100vh - 65px);
  position: absolute;
  top: 65px;
  right: 0;
  transform: translateX(110%);
}

.navbar__link {
  padding: 20px 10px;
  transform: translateX(101%);
  transition: all 0.5s ease-in-out;
}
.navbar__link > a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-size: var(--font-size);
  transition: all 0.4s ease-in-out;
  color: var(--navbar-color);
}
.burger {
  display: block;
  position: relative;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.cple {
  max-height: 40px;
}

.Btnburger {
  height: 40px;
  margin-top: 20px;
}
.show-nav .navbar__links {
  width: 100vw;
  transform: translateX(0);
}
.show-nav .navbar__link {
  transform: translateX(0);
}
.navbar__logo {
  display: flex;
  justify-content: center;
}
.bar {
  display: block;
  width: 45px;
  height: 4px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  background: var(--navbar-color);
}
.bar::before,
.bar::after {
  content: '';
  width: 45px;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  background: var(--navbar-color);
}
.bar::before {
  transform: translateY(-12px);
}
.bar::after {
  transform: translateY(12px);
}
.show-nav .bar {
  width: 0;
  background: transparent;
}
.show-nav .bar::before {
  transform: rotate(45deg);
}
.show-nav .bar::after {
  transform: rotate(-45deg);
}
.show-nav .first {
  transition: all 1s ease-out;
  width: auto;
}
.show-nav .first > a {
  width: 98px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .first > a:active {
  width: 98px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .second {
  transition: all 1.1s ease-out;
}
.show-nav .second > a {
  width: 186px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .second > a:active {
  width: 186px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .third {
  transition: all 1.2s ease-out;
}
.show-nav .third > a {
  width: 131px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .third > a:active {
  width: 131px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .four {
  transition: all 1.3s ease-out;
}
.show-nav .four > a {
  width: 120px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.show-nav .four > a:active {
  width: 120px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* */
/* */
/* Desktop version */
@media screen and (min-width: 1025px) {
  .navbar {
    margin: 20px 40px 0px 40px;
    font-size: var(--font-size);
  }
  .navbar__links {
    overflow: initial;
    flex-direction: initial;
    width: initial;
    height: initial;
    position: initial;
    top: initial;
    right: initial;
    transform: initial;
  }
  .navbar__link {
    transform: initial;
    transition: initial;
    padding: 0px 30px 0px 30px;
  }
  .navbar__link > a {
    display: initial;
    padding: initial;
    font-size: initial;
    transition: initial;
    font-size: var(--font-size);
  }
  .burger {
    display: none;
    position: initial;
    padding: initial;
    width: initial;
    height: initial;
    border: initial;
    background: initial;
    cursor: initial;
  }
  .navbar__link > a::after {
    display: block;
    content: '';
    width: 0;
    height: 1px;
    transition: width 0.4s;
    background: var(--navbar-color);
  }
  .navbar__link:hover > a::after {
    width: 100%;
  }
  .bar {
    display: initial;
    width: initial;
    height: initial;
    border-radius: initial;
    transition: initial;
  }
  .bar::before,
  .bar::after {
    content: '';
    width: initial;
    height: initial;
    position: initial;
    left: initial;
    border-radius: initial;
    transition: initial;
  }
  .bar::before {
    transform: initial;
  }
  .bar::after {
    transform: initial;
  }
}
