@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Fredoka', sans-serif;
  background-image: url(img/Bg-rouge-new.png);
  background-size: cover;
}

/* mainContainer */

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
}

.mainContainer p {
  text-align: center;
  font-weight: 600;
}

.txtContainer,
.sliderContainer,
.imgContainer {
  margin: 30px 0px 30px 0px;
  color: white;
}

/* slider container */
.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
  /* background-color: chocolate;*/
}

.arrowLeft,
.arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #27233a;
  border-radius: 50%;
  cursor: pointer;
}

.arrowImg {
  width: 50%;
  height: 50%;
}

.imgContainer {
  display: block;
  position: relative;
  height: 250px;
  width: 100%;
  top: -50px;
}

.choiceCategories {
  font-size: 20px;
}

/* Position 1 */

.card {
  cursor: pointer;
}

.loveImgPos1,
.loveImgdebase {
  display: block;
  position: absolute;
  top: 70%;
  height: 130%;
  width: 100%;
  left: 55%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 1s;
}

.loveImgPos2 {
  display: block;
  position: absolute;
  top: 30%;
  height: 40%;
  width: 25%;
  transform-style: preserve-3d;
  left: 0;
  z-index: 1;
  transition: 2s;
}

.loveImgPos3 {
  display: block;
  position: absolute;
  top: 30%;
  height: 40%;
  width: 25%;
  transform-style: preserve-3d;
  right: 0;
  z-index: 1;
  transition: 1s;
}

/**/

.jobImgPos1,
.jobImgPosdebase {
  display: block;
  position: absolute;
  top: 30%;
  height: 50%;
  width: 50%;
  right: 0;
  transform-style: preserve-3d;
  z-index: 1;
  transition: 1s;
}

.jobImgPos2 {
  display: block;
  position: absolute;
  top: 70%;
  height: 100%;
  width: 110%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 2s;
}

.jobImgPos3 {
  display: block;
  position: absolute;
  top: 30%;
  height: 50%;
  width: 50%;
  left: 0;
  transform-style: preserve-3d;
  z-index: 1;
  transition: 1s;
}

/**/

.friendshipImgPos1,
.friendImgPosdebase {
  display: block;
  position: absolute;
  top: 30%;
  height: 45%;
  width: 45%;
  transform-style: preserve-3d;
  left: 0;
  z-index: 1;
  transition: 1s;
}

.friendshipImgPos2 {
  display: block;
  position: absolute;
  top: 40%;
  top: 30%;
  height: 45%;
  width: 35%;
  transform-style: preserve-3d;
  right: 0;
  z-index: 1;
  transition: 1s;
}

.friendshipImgPos3 {
  display: block;
  position: absolute;
  top: 80%;
  height: 90%;
  width: 80%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 1s;
}

.tips {
  margin-top: 30px;
  width: 70%;
  display: flex;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.isActive {
}

/* Médiaqueries */
@media screen and (min-width: 1025px) {
  body {
    background-image: url(img/Bg-rouge-new-deskstop.png);
    background-size: cover;
    display: flex;
  }

  .arrowLeft,
  .arrowRight {
    width: 50px;
    height: 50px;
    background: #27233a;
    border-radius: 50%;
  }

  .txtContainer {
    font-size: 30px;
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sliderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27%;
    flex-direction: row;
  }

  .choiceCategories {
    font-size: 25px;
  }

  .tips {
    display: none;
  }
  /*PARTIE CHANGEMENT PERSO*/
  /* Position 1 */

  .loveImgPos1,
  .loveImgdebase {
    display: block;
    position: absolute;
    top: 90%;
    height: 150%;
    width: 25%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 1s;
    animation: infinite;
  }

  .loveImgPos1,
  .loveImgdebase:hover {
    animation: infinite;
    top: 110%;
    height: 200%;
    width: 30%;
  }

  .loveImgPos2 {
    display: block;
    position: absolute;
    top: 30%;
    height: 80%;
    width: 15%;
    transform-style: preserve-3d;
    left: 25%;
    z-index: 1;
    transition: 2s;
    pointer-events: none;
  }

  .loveImgPos3 {
    display: block;
    position: absolute;
    top: 10%;
    height: 100%;
    width: 15%;
    transform-style: preserve-3d;
    right: 25%;
    z-index: 1;
    transition: 1s;
    pointer-events: none;
  }

  /**/

  .jobImgPos1,
  .jobImgPosdebase {
    display: block;
    position: absolute;
    top: 30%;
    height: 60%;
    width: 20%;
    right: 20%;
    transform-style: preserve-3d;
    z-index: 1;
    transition: 1s;
    pointer-events: none;
  }

  .jobImgPos2 {
    display: block;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 30%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 2s;
  }

  .jobImgPos2:hover {
    top: 110%;
    height: 110%;
    width: 40%;
    transition: 1s;
  }
  .jobImgPos3 {
    display: block;
    position: absolute;
    top: 30%;
    height: 70%;
    width: 20%;
    left: 25%;
    transform-style: preserve-3d;
    z-index: 1;
    transition: 1s;
    pointer-events: none;
  }

  /**/

  .friendshipImgPos1,
  .friendImgPosdebase {
    display: block;
    position: absolute;
    top: 35%;
    height: 65%;
    width: 15%;
    transform-style: preserve-3d;
    left: 20%;
    z-index: 1;
    transition: 1s;
    pointer-events: none;
  }

  .friendshipImgPos2 {
    display: block;
    position: absolute;
    top: 40%;
    top: 30%;
    height: 75%;
    width: 15%;
    transform-style: preserve-3d;
    right: 22%;
    z-index: 1;
    transition: 1s;
    pointer-events: none;
  }

  .friendshipImgPos3 {
    display: block;
    position: absolute;
    top: 80%;
    height: 110%;
    width: 20%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: 1s;
  }

  .friendshipImgPos3:hover {
    top: 90%;
    height: 120%;
    width: 25%;
  }
}
