@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;800;900&display=swap");

/* Variables */
:root {
  --font-size: 1rem;
  --navbar-color-home: #27233a;
  --navbar-color-work: #9977bb;
  --navbar-color-love: #bc6a47;
  --navbar-color-friend: #974420;
  --navbar-background-work: #c6ddff;
  --navbar-background-love: #f6dddd;
  --navbar-background-friend: #fde5b6;
  --navbar-background-home: url("image/background.png");
}

/* Reset */
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

/* Basic style */
body {
  margin: 0;
  font-size: var(--font-size);
  font-family: "Kumbh Sans", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: none;
}
.navbar__links {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 0;
  height: calc(100vh - 65px);
  position: absolute;
  top: 65px;
  right: 0;
  transform: translateX(110%);
  transition: all 0.5s ease-in-out;
}

.navbar__link {
  padding: 0 10px;
  transform: translateX(101%);
  transition: all 0.5s ease-in-out;
}
.navbar__link > a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  transition: all 0.4s ease-in-out;
}
.burger {
  display: block;
  position: relative;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.cple {
  max-height: 40px;
}

.Btnburger {
  height: 40px;
  margin-top: 20px;
}

/* ajouts */
.show-nav .navbar__links {
  width: 100vw;
  transform: translateX(0);
}
.show-nav .navbar__link {
  transform: translateX(0);
}
.navbar__link > a:hover {
  padding-left: 2rem;
  letter-spacing: 5px;
}
.navbar__logo {
  display: flex;
  justify-content: center;
}
.bar {
  display: block;
  width: 45px;
  height: 4px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.bar::before,
.bar::after {
  content: "";
  width: 45px;
  height: 4px;
  position: absolute;
  left: 0;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.bar::before {
  transform: translateY(-12px);
}
.bar::after {
  transform: translateY(12px);
}
.show-nav .bar {
  width: 0;
  background: transparent;
}
.show-nav .bar::before {
  transform: rotate(45deg);
}
.show-nav .bar::after {
  transform: rotate(-45deg);
}
.show-nav .first {
  transition: all 1s ease-out;
}
.show-nav .second {
  transition: all 1.1s ease-out;
}
.show-nav .third {
  transition: all 1.2s ease-out;
}
.show-nav .four {
  transition: all 1.3s ease-out;
}

/* Colors home */
.color-home {
  color: var(--navbar-color-home);
}
.color-home > a {
  color: var(--navbar-color-home);
}
.color-burger-home {
  background: var(--navbar-color-home);
}
.color-burger-home::before,
.color-burger-home::after {
  background: var(--navbar-color-home);
}
.background-color-home {
  background-image: var(--navbar-background-home);
  background-size: 100%;
}

/* Colors work */
.color-work {
  color: var(--navbar-color-work);
}
.color-work > a {
  color: var(--navbar-color-work);
}
.color-burger-work {
  background: var(--navbar-color-work);
}
.color-burger-work::before,
.color-burger-work::after {
  background: var(--navbar-color-work);
}
.background-color-work {
  background-color: var(--navbar-background-work);
}

/* Colors love */
.color-love {
  color: var(--navbar-color-love);
}
.color-love > a {
  color: var(--navbar-color-love);
}
.color-burger-love {
  background: var(--navbar-color-love);
}
.color-burger-love::before,
.color-burger-love::after {
  background: var(--navbar-color-love);
}
.background-color-love {
  background-color: var(--navbar-background-love);
}

/* Colors friend */
.color-friend {
  color: var(--navbar-color-friend);
}
.color-friend > a {
  color: var(--navbar-color-friend);
}
.color-burger-friend {
  background: var(--navbar-color-friend);
}
.color-burger-friend::before,
.color-burger-friend::after {
  background: var(--navbar-color-friend);
}
.background-color-friend {
  background-color: var(--navbar-background-friend);
}

/* */
/* */
/* Desktop version */
@media screen and (min-width: 768px) {
  .navbar__links {
    overflow: initial;
    flex-direction: initial;
    width: initial;
    height: initial;
    position: initial;
    top: initial;
    right: initial;
    transform: initial;
    transition: initial;
  }
  .navbar__link {
    transform: initial;
    transition: initial;
  }
  .navbar__link > a {
    display: initial;
    padding: initial;
    font-size: initial;
    transition: initial;
  }
  .burger {
    display: none;
    position: initial;
    padding: initial;
    width: initial;
    height: initial;
    border: initial;
    background: initial;
    cursor: initial;
  }
  
  .show-nav .navbar__links {
    width: initial;
    transform: initial;
  }
  .show-nav .navbar__link {
    transform: initial;
  }
  .navbar__link > a:hover {
    padding-left: initial;
    letter-spacing: initial;
  }
  .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    transition: width 0.4s;
  }
  .navbar__link:hover > a::after {
    width: 100%;
  }
  .bar {
    display: initial;
    width: initial;
    height: initial;
    border-radius: initial;
    transition: initial;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: initial;
    height: initial;
    position: initial;
    left: initial;
    border-radius: initial;
    transition: initial;
  }
  .bar::before {
    transform: initial;
  }
  .bar::after {
    transform: initial;
  }
  .show-nav .bar {
    width: initial;
    background: initial;
  }
  .show-nav .bar::before {
    transform: initial;
  }
  .show-nav .bar::after {
    transform: initial;
  }
  .show-nav .first {
    transition: initial;
  }
  .show-nav .second {
    transition: initial;
  }
  .show-nav .third {
    transition: initial;
  }
  .show-nav .four {
    transition: initial;
  }

/* Colors home */
.color-home > a::after {
  background: var(--navbar-color-home);
}

/* Colors work */
.color-work > a::after {
  background: var(--navbar-color-work);
}

/* Colors love */
  .color-love > a::after {
    background: var(--navbar-color-love);
}

/* Colors friend */
.color-friend > a::after {
  background: var(--navbar-color-friend);
}
